p.truncate-3l{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex-even{
    flex: 1;
    min-width: 300px;
}

.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #dc3545;
}

@media screen and (max-width: 469px){
    .mt-sx-3{
        margin-top: 1rem;
    }
}